html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    background-color: green;


}

.container {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.ciorno {
    width: 300px;
}

.links > a > h2 {
    border: 3px solid black;
    background-color: white;

    text-align: center;
}

.links > a > h2:hover {
    background-color: red;
}

.recipe-image {
    width: 500px;
    align-content: ;
}

