html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;


}

.container {
    border: 3px solid black;
    width: 680px;
    height: 690px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




